.button {
  /* padding-left: 10rem;
  padding-top: 5rem;
  margin-top: 1rem;
  display: flex;
   */
  margin: 2rem auto;
	display: flex;
	width: 100%;
	max-width: 705px;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
}



.container-1 {
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  width: fit-content;
}


.container-2 {
  padding: 10px;
  margin: 20px;
  width: fit-content;
  margin-left: 30px;
}
